.name{
  color: #57A835;
}

.banner{
  color: white;
  background-color: #71BF44;
  text-align: left;
  position: absolute;
  width: 72%;
  margin: 0 auto;
  margin-left: 210px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: -25px;
  text-shadow : 0 0 0 white;
}

.form{
font-weight: 600;
margin-top: 100px;
margin-left: 210px;
padding-bottom: 20px;
}

.row p{
  margin-top: -5px;
}

.btn-margin-left{
  margin-left: 30px;
}

.btn-margin-right{
  margin-right: 30px;
}

.col-3{
margin-left:130px;
}
.col-2
{
margin-left: 210px;
}
.col-6
{
margin-left: 210px;
}

.navbar{
  position: center;
}

.navbar {
  z-index: 1;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #71BF44;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
  margin-left: 210px;
}
p > a:link {
  text-decoration: none;
}

p > a:visited {
  text-decoration: none;
}

p > a{
color: #71BF44;
}
p > a:hover{
color: #71BF44;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
::-webkit-scrollbar {
    display: none;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.name{
  color: #57A835;
}

.banner{
  color: white;
  background-color: #71BF44;
  text-align: left;
  position: absolute;
  width: 72%;
  margin: 0 auto;
  margin-left: 210px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: -25px;
  text-shadow : 0 0 0 white;
}

.form{
font-weight: 600;
margin-top: 100px;
margin-left: 210px;
padding-bottom: 20px;
}



.row p{
  margin-top: -5px;
}

.btn-margin-left{
  margin-left: 30px;
}

.btn-margin-right{
  margin-right: 30px;
}

.col-3{
margin-left:130px;
}
.col-2
{
margin-left: 210px;
}
.col-6
{
margin-left: 210px;
}

.navbar{
  position: center;
}

.navbar {
  z-index: 1;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #71BF44;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
  margin-left: 210px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
